.rt-resizable-header {
    text-align: left;
}

.react-table-outer {
    max-width: 85%;
    margin: 0 auto;
}

.ReactTable {
    background: #485B86;
    color: white;
}

.add-container {
    max-width: 85%;
    margin: 0 auto;
}
